@font-face {
    font-family: "Pixel Digivolve";
    src: url(../fonts/PixelDigivolveItalic.otf);
}
:root{
    --blue: #2F69FF;
    --orange: #FFAF52;
    --fblack: rgba(0,0,0,.7);
    --white: #FFFFFF;
    --oblue: rgba(47, 105, 255, 0.7);
}
::selection {
    background-color: var(--orange);
    color: var(--white);
}
form path{
    stroke: black;
    stroke-width: 1.1px;
}

*{
    font-family: "Pixel Digivolve";
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url("../img/wallpaper1.png");
    background-repeat: no-repeat;
    background-attachment: fixed ;

}
a{
    text-decoration: none;
}

.header{
    background-color: var(--blue) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}
.header__title{
    width: 350px;

}

.header__nav{
    width: 60%;
    height: 100%;

}

.nav__ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
}

.ul__li{
    display: flex;
    justify-content: center;
}

.li__a{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: var(--orange);
    font-size: xx-large;


}

.ul__span{
    z-index: 1;
}
.li__img{
    width: 60px;
    position: absolute;
    top: 17px;
    mix-blend-mode: luminosity;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}


.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

.main__section {
    background-color: var(--oblue);
    width: 80%;
    height: 80%;
    border-radius: 30px;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-around;



}


.section__div{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 150px;


}

.section__div--info{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 150px;
}

.div__h2{
    color: var(--orange);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-size: xxx-large;
    text-decoration: underline var(--orange);


}

.div__h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: x-large;
}

.footer{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fblack);

}

.footer__img{
    width: 70px;

}

.footer__img:hover{
    width: 75px;
    transition: all 0.1s ease-out;
}

.footer__ul{
    display: flex;
}

.ul__li--footer{
    margin: 2px;
    list-style-type: none;
    text-align: center;
    justify-self: end;
}

.li__a--footer{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: var(--white);
    font-size: x-large;
}

.li__i--footer{
    webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: var(--white);
    font-size: xx-large;
}

